{% extends "nadwislanin/base.html" %}
{% block content %}

{% load static %}


    <div class="mb-4" align="center">
        <h2>Rejsy edukacyjno-widokowe drewnianą łodzią tradycyjną</h2>
    </div>

    <div class="row mb-4">
        <div class="col-md-5">
            <img src="{% static 'nadwislanin/nadwiślanin.jpg' %}" width="504" height="378">
        </div>
        <div class="col-md-7 fst-italic">
            <h5><p>ENJOY LEONCIN - Organizacja działa od 2017 roku głównie na terenie gminy Leoncin. Naszym celem jest promocja regionu oraz praca społeczna
                na rzecz mieszkańców. W latach ubiegłych udało się nam wybudować drewnianą łódź, która służy do promocji Stowarzyszenia i regionu.</p>
                <p>Zorganizowaliśmy 3 edycje Wiślanych Spotkań – rodzaj pikniku dla mieszkańców i gości, odbyły się seanse w Kinie Leo, z naszej
                    inicjatywy zawiązała się grupa nordic walking, która regularnie spaceruje po Kampinoskim Parku Narodowym.</p>
                <p>W 2021 roku uczestniczyliśmy w akcji Sprzątamy Puszczę Kampinoską oraz byliśmy organizatorami wielkiego sprzątania gminy Leoncin.</p>
                <p>Naszą łodzią pływamy po Wiśle i Narwi, są to rejsy na zmówienie bądź udział w imprezach tematycznych nad rzekami. Nasze plany wiążą
                    się z wykorzystaniem łodzi w celach edukacyjnych – bezpieczeństwo na rzece, ekologia (sprzątanie rzeki z łodzi) oraz historia widziana z rzeki.</p></h5>
        </div>
    </div>

    <div class="row mb-4">
        <h2 class="text-end">Motto: Płyń z nami, opowiemy Ci historię widzianą z rzeki!</h2>
    </div>
    <div class="row">
        <img src="{% static 'nadwislanin/mazowsze_logo.jpg' %}">
    </div>
    <div class="row fw-bold fst-italic">
         <p>„Projekt dofinansowany ze środków Programu Fundusz Inicjatyw Obywatelskich oraz środków Samorządu Województwa
             Mazowieckiego w ramach programu „Mazowsze Lokalnie” realizowanego przez Stowarzyszenie Europa i My,
             Stowarzyszenie BORIS, Stowarzyszenie SOKIAL oraz Fundację Fundusz Współpracy.”</p>
    </div>



{% endblock %}
