{% extends "nadwislanin/base.html" %}
{% block content %}

{% load static %}

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header fw-bold">RODO</div>
                <div class="card-body">
                    <p class="mb-3">Zgodnie z art. 13 ust. 1 i 2 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r.
                    w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
                    takich danych oraz uchylenia dyrektywy 95/46/WE (Dz. Urz. UE. L. Nr 119, str. 1) zwanym dalej „RODO” informuję, iż:</p>
                    <ol>
                        <li>Administratorem Pani/Pana danych osobowych jest Stowarzyszenie Enjoy Leoncin z siedzibą w Leoncinie, pl. R. Kobendzy 3, 05-155 Leoncin, email: biuro@enjoyleoncin.pl.</li>
                        <li>Pani/Pana dane osobowe przetwarzane będą w celach związanych z działalnością statutową, udziałem w programach oraz wydarzeniach organizowanych przez Stowarzyszenie Enjoy Leoncin.</li>
                        <li>Pani/Pana dane przetwarzane będą wyłącznie na podstawie wcześniej udzielonej zgody w zakresie i celu określonym w treści zgody (art. 6 ust. 1 lit. a RODO).</li>
                        <li>Odbiorcami Pani/Pana danych osobowych będą podmioty uprawnione do uzyskania danych osobowych na podstawie przepisów prawa oraz podmioty, którym Administrator
                            powierzył przetwarzanie danych osobowych na podstawie umów powierzenia przetwarzania danych osobowych.</li>
                        <li>Pani/Pana dane przechowywane będą przez okres niezbędny do realizacji celu, dla jakiego zostały zebrane w okresie trwałości umowy i konieczności zachowania
                            dokumentacji projektu do celów kontrolnych lub do czasu wniesienia sprzeciwu wobec przetwarzania, o ile nie występują prawnie uzasadnione podstawy dalszego
                            przetwarzania danych. Po upływie 5 lat dane podlegać będą brakowaniu.</li>
                        <li>Posiada Pani/Pan prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych
                            osobowych, prawo wniesienia sprzeciwu, oraz prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania.</li>
                        <li>Przysługuje Pani/Panu prawo wniesienia skargi do organu nadzorczego właściwego w sprawach ochrony danych osobowych.</li>
                        <li>Podanie danych jest dobrowolne i niezbędne do realizacji ww. projektu, w przypadku niepodania danych niemożliwe jest zawarcie umowy.</li>
                        <li>Państwa dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu oraz, co do zasady, nie będą przekazywane do państw trzecich.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <img src="{% static 'nadwislanin/logo_bw.jpg' %}" width="390.5" height="397">
        </div>
    </div>



{% endblock %}