{% extends "nadwislanin/base.html" %}
{% block content %}

{% load static %}

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header fw-bold">REGULAMIN</div>
                <div class="card-body">
                    <p class="mb-3">Łódź Nadwiślanin jest społecznym projektem, który promuje zdrowy i bezpieczny wypoczynek nad Wisłą. Rejsy rzeką Wisłą prowadzi – Stowarzyszenie Enjoy Leoncin, pl. R. Kobendzy 3 05-155 Leoncin www.enjoyleoncin.pl, zwane dalej organizatorem.
                    Organizator dokłada wszelkich starań dla zapewnienia bezpieczeństwa i informuje pasażerów o zasadach prawidłowego zachowania na wodzie.</p>
                    <ol>
                        <li>Rejsy mają charakter edukacyjny, przygodowy i promujący turystykę. Łączą brzegi i ludzi w regionie. Ich celem jest poznanie i ochrona dziedzictwa kulturowego, historycznego i przyrodniczego rzeki Wisły, oraz naukę bezpiecznego przebywania na wodzie.</li>
                        <li>Na łodzi może jednorazowo przebywać 12 osób - w tym sternik.</li>
                        <li>Każdy pasażer otrzymuje na czas rejsu dopasowaną rozmiarowo, atestowaną kamizelkę ratunkową. Osoby nie umiejące pływać i dzieci do lat 18 są zobowiązane, w czasie uprawiania żeglugi, mieć założone i prawidłowo zapięte kamizelki ratunkowe.</li>
                        <li>Osoby nieletnie mogą przebywać na łodzi tylko pod opieką dorosłych.</li>
                        <li>Podczas manewrów łodzią: cumowania, kotwiczenia, zbliżania się do innych jednostek lub przedmiotów itp. pasażerowie powinni zająć miejsca siedzące, zabronione jest wystawianie rąk, jakichkolwiek przedmiotów i wychylanie się za burtę.</li>
                        <li>Na łodzi obowiązuje bezwzględny zakaz spożywania alkoholu i jakichkolwiek podobnie działających substancji oraz pozostawanie pod ich wpływem. Osoby będące pod wpływem alkoholu nie będą mogły uczestniczyć w rejsach.</li>
                        <li>Zabronione jest wnoszenie na łódź substancji niebezpiecznych, łatwopalnych, żrących lub wybuchowych oraz używanie otwartego ognia, w tym palenia tytoniu.</li>
                        <li>Zabrania się wrzucania śmieci do rzeki i pozostawiania ich w łodzi.</li>
                        <li>W pozostałych sprawach nie określonych w tym regulaminie zastosowanie mają przepisy prawa obowiązujące w Rzeczpospolitej Polskiej, w szczególności przepisy Ustawy o żegludze śródlądowej.</li>
                        <li>Pasażerowie są zobowiązani  do przestrzegania niniejszego regulaminu, stosowania się do poleceń sternika w zakresie bezpieczeństwa na wodzie.</li>
                        <li>Niniejszy regulamin obowiązuje od 4 sierpnia 2019 roku do czasu opublikowania na stronie www.enjoyleoncin.pl wersji nowszej.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <img src="{% static 'nadwislanin/logo_bw.jpg' %}" width="390.5" height="397">
        </div>
    </div>



{% endblock %}