{% extends "nadwislanin/base.html" %}
{% block content %}

{% load static %}


        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fw-bold">Mochty-smok tajemnice i legendy</div>
                    <article class="photo mt-3 text-center">
                        <img src="{% static 'nadwislanin/mochty.jpg' %}" width="282" height="192">
                    </article>
                    <div class="card-body">
                        Wieś na prawym brzegu Wisły, której położenie podczas rejsu wyznacza ceglany komin pikujący w niebo.
                        Płynąc w jego kierunku mijamy ujście rzeki Stugi magicznie rozlewającej się pośród Wiślanych łach pełnych
                        wylegujących się rybitw, czapli i kaczek. Piękny starodrzew na wzgórzach, poprzecinany wąwozami, opowiada tajemnice swego wnętrza.
                        Smok - jak głoszą legendy wśród parowów obecnej rzeki Strugi było legowisko mitycznego gada, prasłowiańskiego żmija,
                        który chronił Słowian przed wpływami złych sił okalających to miejsce. To tu dawno temu dobił wiking Eryk swoją długą łodzią Dakarem.
                        Dowiedziawszy się od jednego z mieszkańców o złych mocach, na przebłaganie rzucił na dno parowu jeziora na Strudze święty drewniany
                        łeb Smoka brązem obity, dzięki temu bezpiecznie odpłynął. Od tego czasu Mieszkańcy nazywają jezioro Smok.
                        Mochty – pochodzenie tego słowa jest tajemnicze, ale przemawia za prasłowiańskim pierwowzorem "Chmoktania", co oznaczało
                        cmokanie mężczyzny na wybrankę. Płynąc dalej trafiamy na nasz azymut ruiny Starej Cegielni z XIX w gdzie wypalano cegły
                        do rozbudowy twierdzy Modlin i kościoła w Leoncinie. Ceglany komin jakby zapraszał nas do wnętrza z pokładu. Dziś Mochty-Smok
                        wciąż jawi się ceglanym kominem pikującym w niebo skrywając nowe tajemnice, ale o tym opowiemy na kolejnym rejsie.
                    </div>
                    <div class="card-footer text-end">
                        <a class="btn btn-warning" href="{% url 'reserve' tour=1 %}">Rezerwuj</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fw-bold">Ruiny spichlerza widziane z Narwi</div>
                    <article class="photo mt-3 text-center">
                        <img src="{% static 'nadwislanin/modlin.jpg' %}" width="256" height="192">
                    </article>
                    <div class="card-body">
                        Dzień wita nas słońcem w porcie Marina Modlin. Wypływamy z zatoki w kierunku ujścia Narwi do Wisły zostawiając
                        w tyle most im. Feliksa Pancera. Po prawej stronie rozpościera się malowniczy widok Twierdzy Modlin okraszonej zielenią letniej przyrody.
                        Przed nami Kępa Szwedzka przyciągająca niczym magnez obraz ruin Spichlerza Modlin. Oddany do użytku w 1844 roku -
                        "Gmach najokazalszy, jaki w drugim ćwierćwieczu wzniesiono w Królestwie" - tak pisano na łamach ówczesnych gazet.
                        Jan Jakub Gay zaprojektował gmach w kształcie wydłużonego prostokąta w stylu neorenesansu. W ścianie budynku od strony
                        Narwi umieszczono trzy ozdobne portale otwierające wnętrze gmachu na rzekę. Patrząc z pokładu na obiekt widzimy schody
                        prowadzące do pozostałości po urządzeniach służących do załadunku. Początkowo w gmachu magazynowano zboże.
                        Pełnił również funkcję reprezentacyjną co widać po przepięknych zdobieniach nad zwieńczeniem portali.
                        W 1853 r. wojsko carskie przeznaczyło Spichlerz na magazyn Twierdzy Modlin. Wojenna zawierucha, niemieckie bombardowania
                        przyniosły ze sobą zniszczenie, którego skutki obrazują dzisiejsze ruiny. Płynąc Nadwiślaninem stajemy się świadkami historii,
                        zamkniętej w ceglanym murze Spichlerza, widzianej z Narwi.
                    </div>
                    <div class="card-footer text-end">
                        <a class="btn btn-warning" href="{% url 'reserve' tour=3 %}">Rezerwuj</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fw-bold">Kierunek Leoncin na styku trzech kultur</div>
                    <article class="photo mt-3 text-center">
                        <img src="{% static 'nadwislanin/front.jpg' %}" width="256" height="192">
                    </article>
                    <div class="card-body">
                        Wchodząc na pokład Nadwiślanina i płynąc w kierunku Leoncina stajemy się częścią wielokulturowej historii Polaków, Żydów
                        i Olendrów. Po obu brzegach ukazują się nam świadectwa obecności tych kultur od pierwszego Piasta. Pierwszy mazowiecki
                        gród był na Zakroczymskich wzgórzach. Tu w XI w istniała przeprawa przez Wisłę i osada handlowa na rzece, gdzie żydowscy
                        kupcy sprzedawali swe towary. Lata płynęły niosąc warkoczami baty, szkuty, tratwy, krypy na stałe wpisujące się w wiślany
                        krajobraz, aż pewnego dnia na rzekę wkraczają parowce. Dwa z nich - Nadwiślanin (nazwa naszej łodzi) i Kopernik - w 1907 r.
                        przybijają do brzegu Gniewniewic z grupą 378 osób w celu odbycia I pieszej wycieczki PTTK do Puszczy. Historie pisane
                        doświadczeniami Wisły dotknęły jej warkoczami i olenderskich osad usłanych na wiślanym brzegu. Kościół Menonicki z 1923 r.
                        w Secyminie jest tego żywym dowodem. Do tej pory wyplatanie płotów, koszy czy strojnych ozdób przypomina olenderskie pochodzenie
                        mazowieckich wierzb szumiących muzyką Chopina z Żelazowej Woli. Kościół w Leoncinie, obelisk Isaaka Singera, istniejący tam
                        kiedyś żydowski dom modlitewny i mykwa oraz wiele cmentarzy Olendrów, Żydów i Polaków porozrzucanych po leoncińskich polach,
                        w dolinach starorzecza czy wśród puszczańskich wydm to świadectwa styku trzech kultur w jednej Polskiej historii widzianej z pokładu Nadwiślanina.
                    </div>
                    <div class="card-footer text-end">
                        <a class="btn btn-warning" href="{% url 'reserve' tour=2 %}">Rezerwuj</a>
                    </div>
                </div>
            </div>

        </div>



{% endblock %}